/* --Fonts -- */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900&display=swap');


/*So Dirty!*/
*{
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5{
    font-weight: 700;
    letter-spacing: 1px;
}
.text-center{
    font-size: 22px;
    text-align:text-center;
}


/* Section Main */

section.main{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

section.main form#task-form{
    width: 100%;
   
}



body{
    background: #E8E7E8;
    display: flex;
    justify-content:center;
}

.wrapper{
    background:#fff;
    border-radius: 50px;
    border: 10px solid #000;
    padding: 40px;
    justify-content:center;
}




li.collection-item{
    margin-bottom: 50px;
}

i.fa.fa-remove {
    width: 100px;
    background: green;
    height: 40px;
    float: right;
    clear: both;
}